@import url('https://fonts.cdnfonts.com/css/alegreya');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  .last-work {
    height: 600px;
    background-image: url("./assets/img/header/last_work_img.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .header-container {
    display: flex;
    height: 100px;

    .logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
    }

    .navigation-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;

      .hamburger-menu {
        display: none;

        #menu__toggle {
          opacity: 0;
        }

        #menu__toggle:checked ~ .menu__btn > span {
          transform: rotate(45deg);
        }

        #menu__toggle:checked ~ .menu__btn > span::before {
          top: 0;
          transform: rotate(0);
        }

        #menu__toggle:checked ~ .menu__btn > span::after {
          top: 0;
          transform: rotate(90deg);
        }

        #menu__toggle:checked ~ .menu__box {
          opacity: 1;
          right: 0;
        }

        .menu__btn {
          display: flex;
          align-items: center;
          position: fixed;
          top: 20px;
          right: 20px;
          width: 26px;
          height: 26px;
          cursor: pointer;
          z-index: 1;
        }

        .menu__btn > span,
        .menu__btn > span::before,
        .menu__btn > span::after {
          display: block;
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: #616161;
          transition-duration: .25s;
        }

        .menu__btn > span::before {
          content: '';
          top: -8px;
        }

        .menu__btn > span::after {
          content: '';
          top: 8px;
        }

        .menu__box {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: fixed;
          opacity: 0;
          top: 0;
          right: -100%;
          width: 100%;
          height: 400px;
          margin: 0;
          padding: 80px 0;
          list-style: none;
          background-color: #C1C1C1;
          transition-duration: .25s;

        }

        .menu__item {
          display: block;
          padding: 12px 24px;
          color: #333;
          font-family: Alegreya,sans-serif;
          font-size: 48px;
          font-weight: 400;
          line-height: 72px;
          letter-spacing: 0.04em;
          text-decoration: none;
          text-align: center;
          transition-duration: .25s;
        }

        .menu__item:hover {
          background-color: #CFD8DC;
        }
      }

      .nav-bar {
        ul {
          list-style: none;
          display: inline-flex;

          a {
            width: 110px;
            height: 30px;
            border: 0;
            background-color: white;
            font-family: Alegreya,sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 186%;
            margin: 0 10px;
            text-decoration: none;
            color: black;

            &:hover {
              color: #344B5ED9;
              opacity: 85%;
              transition: all 0.1s ease;
              cursor: pointer;
              text-decoration: none;
            }

            &:active {
              color: #344B5E;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .body-top {
    display: flex;
    justify-content: center;
    gap: 300px;
    margin-bottom: 30px;
  }

  .body-gallery {
    width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    .gallery-item {
      width: 30%;
      height: 270px;

      &:hover {
        box-shadow: 0px 0px 15px 5px #00000080;
        transition: all 0.2s ease;
        cursor: pointer;
      }

      &:active {
        box-shadow: none;
      }

      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  .body-bottom {
    margin: 30px 0;

    .separator-container {
      display: flex;
      justify-content: center;
      margin: 20px 0;
    }

    .bottom-container {
      display: flex;
      flex-direction: column;

      .body-bottom-text {
        display: flex;
      }

      .body-bottom-header {
        font-family: Alegreya,sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0.04em;
        text-align: center;
        display: none;
      }

      .text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 50px;


        button {
          width: 250px;
          height: 70px;
          margin: 20px;
          background-color: white;
          font-family: Roboto;
          font-size: 28px;
          font-weight: 400;
          line-height: 52px;
          letter-spacing: 0.04em;
          text-align: center;
          border: 1px solid #000000;

          &:hover {
            border: 1px solid #344B5ED9;
            box-shadow: 0px 4px 4px 0px #00000080;
            color: #344B5ED9;
            opacity: 85%;
            cursor: pointer;
          }

          &:active {
            border: 1px solid #344B5E;
            color: #344B5E;
            box-shadow: none;
          }
        }

        .bottom-text {
          font-family: Alegreya,sans-serif;
          font-size: 24px;
          font-weight: 400;
          line-height: 36px;
          letter-spacing: 0.04em;
          text-align: center;

        }
      }

      .bottom-img-container {
        img {
          width: 262px;
          height: 328px;
        }
      }
    }
  }
}

footer {
  height: 500px;
  padding: 0 360px;
  background-color: #C1C1C1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    font-family: Alegreya,sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.04em;
    text-align: center;

  }

  a {
    margin: 10px;
  }

  .footer-line1 {
    width: 290px;
    border: 2px solid #000000;
    margin: 30px 0;
  }

  .footer-line2 {
    width: 100px;
    border: 3px solid #000000;
    margin: 30px 0;
  }

  .phone-number {
    &:hover {
      color: #344B5ED9;
      opacity: 85%;
      cursor: pointer;
    }

    &:active {
      color: #344B5E;
    }
  }

  .email {
    &:hover {
      color: #344B5ED9;
      opacity: 85%;
      cursor: pointer;
    }

    &:active {
      color: #344B5E;
    }
  }

  .social-container {
    ul {
      list-style: none;
      display: inline-flex;

      img {
        &:hover {
          filter: opacity(0.65);
        }

        &:active {
          filter: opacity(0.85);
        }
      }
    }

  }
}

@media (max-width: 1200px) {

  header {
    .navigation-container {
      #hamburger-menu {
        display: block;

        .menu__box {
          height: 500px;
        }
      }

      .navigation-1920 {
        display: none;
      }
    }

    .latest-work {
      display: none;
    }
  }
  main {
    .early-work {
      display: none;
    }

    .body-gallery {
      width: 708px;
      gap: 50px;

      .gallery-item {
        width: 45%;

      }
    }

    .body-bottom {
      .bottom-container {
        align-items: center;

        .body-bottom-header {
          display: block;
        }
      }

      .text-container {
        justify-content: space-around;

        .body-bottom-header-1920 {
          display: none;
        }

        h2 {
          text-align: center;
        }
      }

      button {
        order: 1;
      }
    }
  }
  footer {
    padding: 0;
    height: 460px;
  }
}

@media (max-width: 768px) {
  header {
    #hamburger-menu {
      display: block;

      .menu__box {
        li {
          font-size: 32px;
          line-height: 48px;
        }
      }
    }

    .logo {
      width: 118px;
      height: 28px;
    }
  }
  main {
    .body-gallery {

      .gallery-item {
        width: 51%;
      }
    }

    .body-bottom {
      .separator-container {
        .separator {
          width: 226px;
          height: 20px;
        }
      }

      .bottom-container {
        align-items: center;

        .body-bottom-header {
          font-size: 20px;
          line-height: 20px;
          margin-bottom: 20px;
        }

        .text-container {
          h2 {
            text-align: center;
          }

          button {
            width: 200px;
            height: 50px;
            font-size: 20px;
            line-height: 37px;
          }

          .bottom-text {
            font-size: 16px;
            line-height: 16px;
          }
        }

        .bottom-img-container {
          img {
            display: none;
          }
        }
      }
    }
  }

  footer {
    height: 320px;

    .footer-line1 {
      margin: 10px 0;
    }

    .footer-line2 {
      margin: 10px 0;
    }

    p {
      font-family: Alegreya,sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.04em;
      text-align: center;
    }
  }
}
